html {
    height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background-color: green;
    color: white;
}
img{
  width: 100px;
}

.theme-checkbox {
  --toggle-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4.25em;
  height: 3em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

.dark {
  background-color: black;
  color: white;
  transition: all 1.5s ease;
}

main{
    justify-content: center;
    display: flex;
}

main section.form_hdcp button.btn_continuar {
    background-color: #2E7D32;
    color: white;
}

main section.form_hdcp div.swiper-slide {
    font-size: larger;
    margin-top: 20px;
}

main section.form_hdcp div.swiper-slide div.resultado {
    font-size: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 15%;
}

:root {
    --swiper-pagination-color: #2E7D32;
}