html {
    height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    justify-content: center;
    display: flex;
}

main section.form_hdcp button.btn_continuar {
    background-color: #2E7D32;
    color: white;
}

main section.form_hdcp div.swiper-slide {
    font-size: larger;
    margin-top: 20px;
}

main section.form_hdcp div.swiper-slide div.resultado {
    font-size: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 15%;
}

:root {
    --swiper-pagination-color: #2E7D32;
}